// variables.scss

// Colors
$color-blue-500: #1c3faa;
$color-blue-700: #102573;
$color-gray-300: #c9c9c9;
$light-grey: #f5f5f5;
$dark-grey: #333;
$white: #fff;

// Font sizes
$font-size-5: 1.875rem;

// Font weights
$font-weight-bold: 700;

// Spacing
$spacing-2: 0.5rem;
$spacing-3: 1rem;
$spacing-5: 1.5rem;
